In [2]:
import kagglehub
import pandas as pd
import os
import datetime as dt

In [4]:
archivos = os.listdir(path)
print("Archivos encontrados:", archivos)

Archivos encontrados: ['ecommerce_10000.csv']

In [ ]:
df=pd.read_csv(r'.cache\kagglehub\datasets\jockeroika\ecommerce-data\versions\1\ecommerce_10000.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      10000 non-null  object
 1   Product      10000 non-null  object
 2   Category     10000 non-null  object
 3   Brand        10000 non-null  object
 4   Platform     10000 non-null  object
 5   City         10000 non-null  object
 6   Price        10000 non-null  float64
 7   Quantity     10000 non-null  int64
 8   TotalAmount  10000 non-null  float64
 9   Rating       10000 non-null  float64
 10  Reviews      10000 non-null  int64
 11  OrderDate    10000 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 937.6+ KB

In [7]:
df.head()

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19

In [8]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'], format='%Y-%m-%d')

In [9]:
df=df.sort_values(by='OrderDate')

In [10]:
df.head(5)

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate
6124,ORD106124,T-shirt Cotton,Fashion,Generic,Amazon,Giza,17479.46,5,87397.30,3.88,2734,2024-01-01
7496,ORD107496,Smartwatch FitPro,Wearables,FitPro,Jumia,Dubai,12494.92,1,12494.92,2.92,857,2024-01-01
2927,ORD102927,Dell Inspiron 3501,Computers,Dell,Souq,Giza,15367.98,4,61471.92,3.55,1614,2024-01-01
9332,ORD109332,Smartwatch FitPro,Wearables,FitPro,Souq,Dubai,18276.49,2,36552.98,4.63,3279,2024-01-01
3702,ORD103702,Adidas Running Shoes,Fashion,Adidas,Jumia,Riyadh,12652.87,4,50611.48,1.42,358,2024-01-01

In [11]:

df["OrderID"]=df["OrderID"].astype("str")
df["Product"]=df["Product"].astype("str")
df["Category"]=df["Category"].astype("str") 
df["Brand"]=df["Brand"].astype("str") 
df["Platform"]=df["Platform"].astype("str")
df["City"]=df["City"].astype("str") 
df["Price"]=df["Price"].astype("float64")
df["Quantity"]=df["Quantity"].astype("int64")
df["TotalAmount"]=df["TotalAmount"].astype("float64")
df["Rating"]=df["Rating"].astype("float64") 
df["Reviews"]=df["Reviews"].astype("int64")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 6124 to 4077
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      10000 non-null  object
 1   Product      10000 non-null  object
 2   Category     10000 non-null  object
 3   Brand        10000 non-null  object
 4   Platform     10000 non-null  object
 5   City         10000 non-null  object
 6   Price        10000 non-null  float64
 7   Quantity     10000 non-null  int64
 8   TotalAmount  10000 non-null  float64
 9   Rating       10000 non-null  float64
 10  Reviews      10000 non-null  int64
 11  OrderDate    10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 1015.6+ KB

In [13]:
df.head()

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate
6124,ORD106124,T-shirt Cotton,Fashion,Generic,Amazon,Giza,17479.46,5,87397.30,3.88,2734,2024-01-01
7496,ORD107496,Smartwatch FitPro,Wearables,FitPro,Jumia,Dubai,12494.92,1,12494.92,2.92,857,2024-01-01
2927,ORD102927,Dell Inspiron 3501,Computers,Dell,Souq,Giza,15367.98,4,61471.92,3.55,1614,2024-01-01
9332,ORD109332,Smartwatch FitPro,Wearables,FitPro,Souq,Dubai,18276.49,2,36552.98,4.63,3279,2024-01-01
3702,ORD103702,Adidas Running Shoes,Fashion,Adidas,Jumia,Riyadh,12652.87,4,50611.48,1.42,358,2024-01-01

In [14]:
mitad = len(df) // 2

# Dividimos en dos partes
ventas_primer_mitad_año = df.iloc[:mitad]
ventas_segunda_mitad_año = df.iloc[mitad:]

In [15]:
ventas_primer_mitad_año.to_parquet(r"C:\Users\Sergio\Downloads\ventas_primer_mitad_año.parquet", 
    index=False, 
    engine='pyarrow', 
    coerce_timestamps='us',       # Convierte nanosegundos a microsegundos ('us')
    allow_truncated_timestamps=True
)
ventas_segunda_mitad_año.to_parquet(r"C:\Users\Sergio\Downloads\ventas_segunda_mitad_año.parquet",index=False, 
    engine='pyarrow', 
    coerce_timestamps='us',
    allow_truncated_timestamps=True
)